:root {
  --encrypter-box-width: calc(100% - 700px);
  --encrypter-box-width-tablet: calc(100% - 550px);
  --encrypter-box-height: calc(100% - 200px);
  --encrypter-input-text-height: calc(100% - 150px);
  --encrypter-result-width: calc(100% - 840px);
  --encrypter-result-height: calc(100% - 100px);
  --logo-container-height: calc(100% - 100px);
}
body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}
body {
  background: #f3f5fc;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logoContainer {
  width: 120px;
  height: var(--logo-container-height);
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-left: 20px;
}

.aluraLogoContainer {
  width: 100%;
  height: 50%;
}
.logo {
  width: 100%;
}

.socialMedia {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
}

.socialMedia > a > svg {
  padding: 5px;
  border: 2px solid #0a387100;
  border-radius: 50%;
  transition: 0.3s;
}

.socialMedia > a > svg:hover {
  transform: translateY(-5px);
  border: 2px solid #0a3871;
  border-radius: 50%;
}

.socialMedia > a:not(:last-child)::after {
  content: "";
  display: flex;
  margin: auto;
  margin-top: 10px;
  background-color: #0a3871;
  width: 3px;
  height: 50px;
  cursor: default;
}

.encrypterBox {
  width: var(--encrypter-box-width);
  height: var(--encrypter-box-height);
  max-height: 600px;
  margin: 100px 50px;
}

.inputText {
  all: unset;
  padding: 30px;
  width: 90%;
  height: var(--encrypter-input-text-height);
  font-size: 32px;
}

.inputText::placeholder {
  color: #0a3871;
  font-weight: 400;
}

.infoContainer {
  margin: 10px 0;
}

.buttonsContainer {
  display: flex;
  gap: 24px;
  width: 100%;
}

.button {
  border: 2px solid #0a3871;
  border-radius: 24px;
  width: 300px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.216);
}

.primary {
  background: #0a3871;
  color: #ffffff;
}

.secondary {
  background: #d8dfe800;
  color: #0a3871;
}

.encrypterResult {
  width: calc(var(--encrypter-box-width) - 5%);
  max-width: 350px;
  height: var(--encrypter-result-height);
  max-height: 650px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.notFound {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.doll {
  width: 250px;
  height: 224px;
}

.notFoundContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.notFoundTitle {
  width: 250px;
  color: #343a40;
  font-size: 20px;
  font-weight: 800;
}

.notFoundText {
  width: 200px;
  font-weight: 400;
  font-size: 12px;
  color: #495057;
}

.inputText::-webkit-scrollbar,
.resultText::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilos barra (thumb) de scroll */
.inputText::-webkit-scrollbar-thumb,
.resultText::-webkit-scrollbar-thumb {
  background: rgba(29, 73, 128, 0.838);
  border-radius: 4px;
}

.inputText::-webkit-scrollbar-thumb:hover,
.resultText::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 66, 120);
  box-shadow: 0 0 2px 1px rgb(14, 50, 95);
}

/* Estilos track de scroll */
.inputText::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.inputText::-webkit-scrollbar-track:hover,
.inputText::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.result {
  width: 100%;
  height: 90%;
  padding: 80px 0 0;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.resultText {
  all: unset;
  width: 310px;
  height: calc(100% - 140px);
  font-size: 24px;
  color: #495057;
}

.footerSocialMedia {
  gap: 30px;
  background: #092e5c;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.footerSocialMedia > a > svg {
  fill: #a5b2c1;
  transition: 0.3s;
}

.footerSocialMedia > a > svg:hover {
  fill: #88a5c5;
}

@media screen and (max-width: 1280px) {
  .mainContainer {
    width: 100%;
    max-height: 100%;
    gap: 10px;
  }
  .logoContainer {
    width: 100px;
    padding-left: 0;
  }
  .encrypterBox {
    width: var(--encrypter-box-width-tablet);
    margin: 100px 50px 100px 10px;
  }
  .inputText {
    font-size: 24px;
  }
  .encrypterResult {
    min-width: 350px;
    margin: 0;
  }
  .doll {
    width: 200px;
    height: 174px;
  }
  .button {
    width: 200px;
    height: 50px;
  }
  .resultText{
    width: 90%;
  }
}
@media screen and (max-width: 888px) {
  .mainContainer {
    width: calc(100% - 150px);
    height: auto;
    margin-left: 75px;
    flex-direction: column;
    justify-content: center;
  }
  .logoContainer {
    width: calc(100% - 100px);
    height: 100px;
    color: red;
    justify-content: flex-start;
    padding: 10px 0 0 0;
  }
  .aluraLogoContainer {
    height: 100%;
    padding: 50px;
  }
  .logo {
    height: 40px;
    width: auto;
  }
  .socialMedia {
    display: none;
  }
  .encrypterBox {
    width: 90%;
    max-height: auto;
    height: 600px;
    margin: 0 75px;
  }
  .inputText {
    width: 100%;
    height: 400px;
    padding: 30px 0;
  }
  .buttonsContainer {
    width: 100%;
    justify-content: center;
  }
  .button {
    width: 300px;
    height: 60px;
  }
  .encrypterResult {
    height: auto;
    width: 90%;
    min-height: 50px;
    max-width: 100%;
    margin: 20px 0 50px 0;
    padding: 30px 0;
  }

  .result {
    padding: 0 20px;
    height: auto;
    min-height: 200px;
  }
  .resultText {
    height: 200px;
    max-height: 350px;
    width: calc(100% - 100px);
  }
  .notFound {
    padding: 0;
    height: auto;
  }
  .doll {
    display: none;
  }
  .footerSocialMedia {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    margin: 0;
  }
  .logoContainer {
    width: 100%;
  }
  .logo {
    height: 25px;
  }
  .aluraLogoContainer {
    padding: 50px 0;
    width: 100%;
  }
  .encrypterBox {
    max-height: 450px;
    height: 420px;
  }
  .inputText {
    height: 250px;
    padding: 0;
  }
  .buttonsContainer {
    flex-direction: column;
    gap: 8px;
  }
  .button {
    width: 100%;
    height: 60px;
  }
  .result {
    padding: 0 30px;
  }
  .resultText {
    width: 100%;
  }
  .result > .button {
    width: 80%;
  }
}
